
.navbar__content {
  width: 100%;

  background-color: #395c4d;
  /* background-image: linear-gradient(to bottom right, #395c4d, #13282d); */
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.background-image {
  margin-top: 0%;
  position: absolute;
  width: 98%;
  z-index: 1;
}
.text_start {
  text-align: center;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: white;

  margin-bottom: 5%;
  margin-top: 0%;
  z-index: 2;
  /* font-size: 50px; */
}

.the-best {
  display: flex;
  justify-content: center;
  width: 409;
  height: 49;
  margin-top: 200;
  font-size: 36px;
}
.title__navbar {
  display: flex;
  justify-content: center;
  width: 812px;
  height: 107px;
  margin: 0;
  font-size: 90px;
}
.text__navbar {
  display: flex;
  justify-content: center;
  width: 668px;
  height: 80;
  margin-bottom: 5%;
  font-size: 22px;
}
.btn_start {
  border-radius: 192px;
  border: none;
  background-color: rgb(173, 192, 58);
  width: 16%;
  height: 78px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6fbf9;
  font-size: 20px;
}
/* todo navbar */
.container {
  width: 90%;
  margin: auto;
  padding: 2% 0;
  margin-top: 8%;
  z-index: 3;
}
/* navbar styles start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 10%;
}

.navbar__list {
  font-family: "Rubik", sans-serif;
  color: white;
  display: flex;
  list-style-type: none;
  width: 30%;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  font-size: 18px;
}

.list__item > a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: white;
  transition: 0.8s;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

button {
  width: 10%;
  height: 50px;
  background-color: #cec6c6;
  border-radius: 50px;
  border: 2px solid #edff81;
}

/*todo navbar styles end*/

/* ! logos navbar */
.container_logos {
  margin-top: 10%;
  background-color: #f6fbf9;
  width: 100%;
  height: 80px;
  align-items: center;

  z-index: 4;
}
.container__logos_content {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5%;
  width: 100%;
  height: 40px;
  align-items: center;
}
/* .tringle {
  position: relative;
  left: 85%;
  top: 20.7%;
  width: 0;
  height: 0;
  border-left: 440px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: solid 550px #183226;
}
.tringle2 {
  position: relative;
  left: 85%;
  top: 20.7%;
  width: 0;
  height: 0;
  border-left: 440px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: solid 550px #08150f;
} */
=======
body {
  font-family: "Rubik", sans-serif;
}

.services_2_ss {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Rubik", sans-serif;
}
.services_2_right {
  font-size: 14px;
  max-width: 50%;
  position: absolute;
  left: 55%;
  padding: 3% 3%;
}
.services_2_right h2 {
  font-size: 42px;
  color: #253d32;
}
.services_2_right p {
  color: #78847d;
  font-size: 22px;
}
.services_2_right button {
  background-color: #92bc37;
  border-radius: 192px;
  color: white;
  border-style: none;
  padding: 25px;
  font-size: 20px;
  width: 52%;
}

.green {
  position: absolute;
  left: auto;
  left: 119px;
  top: 78px;
}
.background {
  position: absolute;
  left: 105px;
  top: 52px;
}
.text {
  position: absolute;
  left: 235px;
  top: 220px;
}
.symbol {
  position: absolute;
  left: 170px;
  top: 220px;
}
.t {
  position: absolute;
  left: 10%;
  top: 290px;
}
.notion {
  position: absolute;
  left: 39%;
  top: 335px;
}
.cubes {
  position: absolute;
  left: 38%;
  top: 198px;
  z-index: -1;
}
.vk {
  position: absolute;
  left: 33%;
  top: 282px;
}
.blue {
  position: absolute;
  left: 22%;
  top: 382px;
}
.fcb {
  position: absolute;
  left: 7%;
  top: 23px;
}
.inst {
  position: absolute;
  left: 36%;
  top: -25px;
}
.greencube {
  position: absolute;
  left: 2%;
  top: 293px;
  z-index: -1;
}
.stick1 {
  position: absolute;
  left: 22%;
  top: 391px;
  z-index: -1;
}
.stick2 {
  position: absolute;
  left: 4%;
  top: 398px;
  z-index: -1;
}
/* =============================Footertt start====================== */
* {
  margin: 0;
}
.footertt {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.img__img {
  z-index: 3;
  position: relative;
  left: -108px;
  top: -11%;
}
.img_img {
  z-index: 3;
  position: relative;
  left: 856px;
  top: -68%;
}
.footert {
  background-image: url("./img/Group_bg_img.svg");
  width: 80%;
  height: 523px;
}

.footert__title {
  font-size: 32px;
  font-weight: 600;
  color: white;
  width: 47%;
  position: relative;
  top: -37%;
  left: 10%;
  line-height: 48px;
}
.footert__logo {
  display: flex;
  align-items: center;
  margin-top: -11%;
  margin-left: 10%;
}
.logo___ {
  margin-left: 2%;
}
.footert__inp_btn {
  margin-top: 5%;
  margin-left: 10%;
}
.footert__inp {
  border: transparent;
  width: 30%;
  height: 78px;
  border-radius: 192px;
  padding-left: 3%;
  font-size: 18px;
  font-weight: 500;
  color: #14183e;
}
.footert__btn {
  width: 20%;
  height: 83px;
  border: transparent;
  border-radius: 192px;
  background: linear-gradient(
    to top,
    rgba(152, 170, 40, 1),
    rgba(214, 255, 126, 1)
  );
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-left: 3%;
}
/* =============================Footertt end====================== */
/*********************** footer emir__start **************************/
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}
.footer__header_one > p {
  width: 354px;
  height: 102px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #78847d;
  font-family: "Rubik", sans-serif;
  margin-bottom: 5%;
}
.footer__header_one > img {
  margin-bottom: 4%;
}
.footer__header_buttom > img {
  margin-left: 8%;
}

#buttom_facebook {
  margin-left: 0%;
}
.footer__header_list {
  list-style-type: none;
  color: #78847d;
  padding-left: 0;
  line-height: 30px;
}
.footer__header > h3 {
  color: #253d32;
  font-weight: 700;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 15%;
}
.ahahah {
  width: 80%;
  margin-top: 4%;
  margin-left: 10%;
}
.footer__the_end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  color: #78847d;
  margin-bottom: 5%;
}
.footer__the_end > p {
  width: 290px;
  font-size: 16px;
}
.footer__the_end > p > img {
  padding-right: 4%;
  font-family: "Rubik", sans-serif;
}

